* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px auto; 
    max-width: 800px;  
    background-color: #fff;
    border-radius: 5px;
}

h1, h2 {
    color: #333;
    margin-bottom: 15px;
}

/* Tlačítko */
.button-container {
    text-align: center;
    margin: 20px 0;
}

.button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
    background-color: #0056b3;
}


#features {
    text-align: center;
}

.feature-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    width: calc(33.333% - 20px); /* Pro tři karty na řádek */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card h3 {
    color: #333;
}


#team-link {
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-size: 0.9em;
}